<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Welcome</mat-toolbar>

        <form fxLayoutAlign="stretch" fxLayout="column" class="loginform">
            <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>          
              <input matInput>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
              <input matInput type="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="loginButton">Login</button>
          </form>
          
    </mat-card>
</div>